:root {
    --color-red: rgb(186,36,36);
    --color-blue: rgb(58,37,192);
    --color-yellow: rgb(241,247,48);
    --color-green: rgb(22,165,6);
    --color-orange: rgb(235,155,18);
    --color-purple: rgb(155,18,235);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 50px;
    border: 1px solid black;
    border-radius: 15px;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.game-piece {
    border: 3px solid black;
    margin: 2px 0px;
    height: 100px;
    width: 100px;
}

.red {
    background-color: var(--color-red);
}

.blue {
    background-color: var(--color-blue);
}

.yellow {
    background-color: var(--color-yellow);
}

.green {
    background-color: var(--color-green);
}

.orange {
    background-color: var(--color-orange);
}

.purple {
    background-color: var(--color-purple);
}

@media (min-width: 769px) {

    .container {
        padding: 25px 150px;
    }

    .board {
        margin: 10px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 10px;
        background-color: rgba(100,100,100,0.5);
        width: 60%;
    }
}

@media (min-width: 1200px) {

}